/**
*	The master file of doom
*/
/*-  CSS libraries (you shouldn't have to touch these ones)
----------------------------------------------------------------------*/
/*-  HANDY UTILS
----------------------------------------------------------------------*/
/**
*	If you feel you want to add long term stuff, like a handy mixin, add it here. Mixins, helper 
*	classes and variables in this file should for reuse only.
*
*/
.block { float: none; width: 100%; }

/*
* Non-semantic helper classes
*/
/* Nicer ampersand */
.amp { font-family: Baskerville, Palatino, "Palatino Linotype", "Book Antiqua", serif; font-size: 1.4em; font-style: italic; }

/* Clearing stuff */
.clear { clear: both; display: block; height: 1px; margin: -1px 0 0 0; }

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/* Hide for both screenreaders and browsers css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; }

/* Hide only visually, but have it available for screenreaders www.webaim.org/techniques/css/invisiblecontent/ Solution from: j.mp/visuallyhidden - Thanks Jonathan Neal! */
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px); /* IE6, IE7 */ clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/**
*	The compulsory reset file. It's the HTML5 one (duh .. ) with some modifications.
*/
/* 
html5doctor.com Reset Stylesheet
Version: 1.4 
Date: 2009-07-27 (modified 2010-03-13)
Author: Richard Clark - http://richclarkdesign.com. Modified by Johan Brook - http://johanbrook.com
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

body { line-height: 1; }

article, aside, dialog, figure, footer, header, hgroup, nav, section { display: block; }

nav ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

a { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted #000; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #cccccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

* { cursor: default; }

a, label, a img { cursor: pointer; }

strong { font-weight: bold; }

em { font-style: italic; }

small { font-size: 85%; }

a img { border: 0; display: block; }

div, a, p, ul, li, header, section, nav, aside, article { position: relative; }

/* Enable customized scrollbars in Webkit. Remember 'position: absolute' in body selector, and maybe 'right: 10px'. */
html { overflow: auto; }

input[type="radio"] { vertical-align: text-bottom; }

input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }

pre { display: block; margin-bottom: 1.5em; white-space: pre; /* CSS 2.0 */ white-space: pre-wrap; /* CSS 2.1 */ white-space: pre-line; /* CSS 3.0 */ white-space: -pre-wrap; /* Opera 4-6 */ white-space: -o-pre-wrap; /* Opera 7 */ white-space: -moz-pre-wrap; /* Mozilla */ white-space: -hp-pre-wrap; /* HP Printers */ word-wrap: break-word; /* IE 5+ */ line-height: 1.5em; }

sup { vertical-align: super; font-size: smaller; }

sub { vertical-align: sub; font-size: smaller; }

/*-  Main files
----------------------------------------------------------------------*/
/*-  BASE STYLES

This is the "config" file for the framework. It's seldom that you have to touch this
more than once during the building of the site (most site specific stuff should go
into "_main.scss").

Core.scss includes variables, @font-faces rules, and other nifty stuff you
just have to dump somewhere. You control most of the site's core functionality
from here. As you can see, some minor reseting is done below, as well as 
defining a mixin. Do not fear – this is stuff that doesn't go into "_reset.scss"
because you still might want to alter things in here. 

----------------------------------------------------------------------*/
@font-face { font-family: 'Inconsolata'; src: url("../fonts/Inconsolata.eot"); src: local("Inconsolata"), url("../fonts/Inconsolata.ttf") format("truetype"), url("../fonts/Inconsolata.svg#webfont") format("svg"); }

/*- Fluid images and objects ----------*/
img, object, embed { max-width: 100%; height: auto !important; }

/*- GLOBAL
----------------------------------------------------------------------*/
/* This inner element makes centers the page and acts like a wrapper for the fluid elements.
*/
.wrapper { max-width: 94em; width: 90%; margin: 0 auto; }
.wrapper:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.wrapper { display: inline-block; }
* html .wrapper { height: 1%; }
.wrapper { display: block; }

body { /* 62.5% = 10px */ /* Since the font now is 10px everywhere on the site, you'll have to define font-sizes on most elements. Use one of the Cs in
"CSS" – Cascading! */ font: normal 62.5%/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif; -webkit-font-smoothing: antialiased; /* Goodness */ -webkit-text-size-adjust: none; color: #333; }
body.grid { /* Define path to this tiny .png with the baseline grid. See example in images folder. The Javascript in the
/js folder will map the 'B' key to show the grid. I encourage you to create your own baseline .png according
to the baseline grid you're using (this one is 24px) */ background-image: url(../images/baseline-grid.png); }
body.grid .wrapper { /* Define path to columns.png. This one is 40-20 columns */ background-image: url(../images/columns.png); }

/*- LINKS
----------------------------------------------------------------------*/
a { position: relative; }

a:active { outline: none; top: 1px; }

a:focus { outline: thin dotted; }

a em, a time, a strong, a span { cursor: pointer; }

/* =HEADINGS */
/*-----------------------------------------*/
h1, h2, h3, h4, h5, h6 { font-weight: normal; margin-bottom: 0; line-height: 1.5; text-rendering: optimizeLegibility; /* Fix kerning */ }

/*- ELEMENTS
----------------------------------------------------------------------*/
p { font-size: 1.3em; line-height: 1.5; }

abbr { cursor: help; }

label { font-weight: bold; }

time[title] { font-weight: bolder; }

pre, code { font-size: 1em; font-family: Inconsolata, Monaco, "Courier New", Courier, monospace; }

pre code { font-size: 1.1em; -webkit-font-smoothing: subpixel-antialiased; /* Code doesn't look that good antialiased */ }

del { color: #999; border: 0; }

/* Used for error messages and such. */
.negative { color: #b30000; }

.positive { color: green; }

/**
* 	Button style
* 	Usage: include the mixin and define base color. Set $hover to true if you want your button to show hover effects.
*/
.button, button, input[type=submit] { -moz-border-radius: 1em; -webkit-border-radius: 1em; border-radius: 1em; background: #f1f1f1 -moz-linear-gradient(center top, transparent 0%, rgba(0, 0, 0, 0.2) 100%); background: #f1f1f1 -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.2))); border: 1px solid rgba(0, 0, 0, 0.3); color: #3e3e3e; font-weight: 500; padding: 0 1em; line-height: 1.667em; text-shadow: 0 1px 1px #fff; text-transform: lowercase; display: inline-block; -webkit-transition: background-color 0.15s ease-out; -moz-transition: background-color 0.15s ease-out; -o-transition: background-color 0.15s ease-out; transition: background-color 0.15s ease-out; -webkit-box-shadow: white 0 1px 0, inset rgba(255, 255, 255, 0.7) 0 1px 1px; -moz-box-shadow: white 0 1px 0, inset rgba(255, 255, 255, 0.7) 0 1px 1px; box-shadow: white 0 1px 0, inset rgba(255, 255, 255, 0.7) 0 1px 1px; }
.button:active, button:active, input[type=submit]:active { top: auto; outline: none !important; background-color: #d7d7d7; -webkit-transition: none; -moz-transition: none; -o-transition: none; transition: none; }

/**
*	MAIN STYLESHEET
*
*	This is the site specific file, in which almost ALL styles regarding the design should go.
*	I encourage you to use SASS's @import features to divide you stylesheet in smaller parts
*	(see the import of _header.scss). These partials should go in the folder ... partials :).
*	Be sure to name them with an underscore in the beginning so SASS doesn't compile them
*	separately.
*/
/*	=MAIN
	------------------------------------------------------ */
/*	=LINKS
	------------------------------------------------------ */
a { -webkit-tap-highlight-color: rgba(200, 0, 0, 0.4); }

/*	=HEADINGS
	------------------------------------------------------ */
/*	=FRONTPAGE
	------------------------------------------------------ */
/* If you you another body class than 'home', define it here */
/*	=HEADER
	------------------------------------------------------ */
/*	=FOOTER
	------------------------------------------------------ */
/*- optional vanity styles ----------*/
::selection { background: red; }

::-moz-selection { background: red; }

img::selection { background: transparent; }

img::-moz-selection { background: transparent; }

/*-  STYLES FOR A RESPONSIVE DESIGN
----------------------------------------------------------------------*/
/* Feel free to add more media queries. These are the guys I mostly use */
/* iPad in portrait */
@media only screen and (max-width: 768px) {}
/* iPhone and other smartphones */
@media only screen and (max-width: 480px) {}
/*-  Print
----------------------------------------------------------------------*/
@media print { * { background: transparent !important; color: #444 !important; text-shadow: none; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; }
  abbr:after { content: " (" attr(title) ")"; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; } }
