/**
*	The master file of doom
*/
/*-  CSS libraries (you shouldn't have to touch these ones)
----------------------------------------------------------------------*/
/*-  HANDY UTILS
----------------------------------------------------------------------*/
/**
*	If you feel you want to add long term stuff, like a handy mixin, add it here. Mixins, helper 
*	classes and variables in this file should for reuse only.
*
*/
.block {
  float: none !important;
  width: 100% !important; }

/*
* Non-semantic helper classes
*/
/* Nicer ampersand */
.amp {
  font-family: Baskerville, Palatino, "Palatino Linotype", "Book Antiqua", serif;
  font-size: 1.4em;
  font-style: italic; }

/* For separators */
.sep {
  color: #000;
  font-size: 0.8em;
  line-height: 28px; }

/* Quick floating */
.alignleft {
  float: left;
  margin-right: 10px; }

.alignright {
  float: right;
  margin-left: 10px; }

/* Clearing stuff */
.clear {
  clear: both;
  display: block;
  height: 1px;
  margin: -1px 0 0 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }
.clearfix {
  display: inline-block; }
* html .clearfix {
  height: 1%; }
.clearfix {
  display: block; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden {
  display: none; }

/* Hide only visually, but have it available for screenreaders
   www.webaim.org/techniques/css/invisiblecontent/
   Solution from: j.mp/visuallyhidden - Thanks Jonathan Neal! */
.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/**
*	The compulsory reset file. It's the HTML5 one (duh .. ) with some modifications.
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 . Modified by Johan 2011-01-03 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  position: relative; }

/* Enable absolute positioned elements inside these ones: */
div, a, p, ul, li {
  position: relative; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 28px 0 27px;
  padding: 0; }

label, a img {
  cursor: pointer; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

small {
  font-size: 85%; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #888;
  cursor: help; }

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline; }

pre {
  display: block;
  white-space: pre;
  /* CSS 2.0 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3.0 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  white-space: -moz-pre-wrap;
  /* Mozilla */
  white-space: -hp-pre-wrap;
  /* HP Printers */
  word-wrap: break-word;
  /* IE 5+ */
  line-height: 1.5em; }

sup {
  vertical-align: super;
  font-size: smaller; }

sub {
  vertical-align: sub;
  font-size: smaller; }

/*-  Main files
----------------------------------------------------------------------*/
/*-  BASE STYLES

This is the "config" file for the framework. It's seldom that you have to touch this
more than once during the building of the site (most site specific stuff should go
into "_main.scss").

Core.scss includes variables, @font-faces rules, and other nifty stuff you
just have to dump somewhere. You control most of the site's core functionality
from here. As you can see, some minor reseting is done below, as well as 
defining a mixin. Do not fear – this is stuff that doesn't go into "_reset.scss"
because you still might want to alter things in here. 

----------------------------------------------------------------------*/
@font-face {
  font-family: 'Inconsolata';
  src: url("../fonts/Inconsolata.eot");
  src: local("Inconsolata"), url("../fonts/Inconsolata.ttf") format("truetype"), url("../fonts/Inconsolata.svg#webfont") format("svg"); }

/*- Fluid images and objects ----------*/
img, object, embed {
  max-width: 100%;
  height: auto !important; }

/*- GLOBAL
----------------------------------------------------------------------*/
/*
 This inner element makes centers the page and acts like a wrapper for the fluid elements.
*/
.wrapper {
  max-width: 98em;
  width: 90%;
  height: 100%;
  margin: 0 auto; }
  .wrapper:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }
  .wrapper {
    display: inline-block; }
  * html .wrapper {
    height: 1%; }
  .wrapper {
    display: block; }

body {
  -webkit-text-size-adjust: 100%; }
  body.grid {
    /* Define path to this tiny .png with the baseline grid. See example in images folder. The Javascript in the
    /js folder will map the 'B' key to show the grid. I encourage you to create your own baseline .png according
    to the baseline grid you're using (this one is 28px). I'm using http://thesquaregrid.com right now. */
    background-image: url(../images/grid.png);
    background-repeat: repeat; }
  body.grid .wrapper {
    /* Define path to the site's columns. */
    background-image: url(../images/baseline.png);
    background-color: rgba(255, 255, 255, 0.4);
    border-left: 1px solid #999;
    border-right: 1px solid #999; }

/*- LINKS
----------------------------------------------------------------------*/
a {
  position: relative;
  -webkit-font-smoothing: antialiased; }

a:active, a:focus {
  outline: none;
  top: 1px; }

a em, a time, a strong, a span {
  cursor: pointer; }

/* =HEADINGS */
/*-----------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin-bottom: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  /* Fix kerning */ }

/*- ELEMENTS
----------------------------------------------------------------------*/
p, ul, ol {
  font-size: 1.3em;
  line-height: 28px;
                                  		/* Set global paragraph font size here
										Remember to set margins in article text! */ }

abbr {
  cursor: help; }

label {
  font-weight: bold; }

time[title] {
  font-weight: bolder; }

hr {
  border: 0;
  padding: 0;
  height: 1px;
  background-color: #e2e2e2;
  margin: 56px auto 55px;
  /* Make up for the border */ }

pre, code {
  font-family: Inconsolata, Monaco, "Courier New", Courier, monospace;
  line-height: 28px; }

pre code {
  font-size: 1.1em;
  -webkit-font-smoothing: subpixel-antialiased;
  /* Code doesn't look that good antialiased */ }
  pre code[class]:after {
    content: attr(class);
    /* In code blocks, add the language to the class attribute and it'll be shown below the block */
    display: block;
    text-align: right;
    font-size: smaller;
    padding-top: 5px;
    text-transform: uppercase; }

del {
  color: #999;
  border: 0; }

/* Used for error messages and such. */
.negative {
  color: #b30000; }

.positive {
  color: green; }

/**
* 	Button style
* 	Usage: include the mixin and define base color. I highly recommend you to customize these styles.
*/
.button, button, input[type=submit] {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  background-color: #eee;
  /* Backup */
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#e6e6e6));
  background-image: -moz-linear-gradient(center top, white 0%, #e6e6e6 100%);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-shadow: #fff 0 1px 1px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 28px;
  padding: 28px 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out; }
  .button:active, button:active, input[type=submit]:active {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
    top: auto;
    outline: none !important;
    -webkit-box-shadow: inset rgba(0, 0, 0, 0.5) 0 3px 5px;
    -moz-box-shadow: inset rgba(0, 0, 0, 0.5) 0 3px 5px;
    -o-box-shadow: inset rgba(0, 0, 0, 0.5) 0 3px 5px;
    box-shadow: inset rgba(0, 0, 0, 0.5) 0 3px 5px; }

/**
*	MAIN STYLESHEET
*
*	This is the site specific file, in which almost ALL styles regarding the design should go.
*	I encourage you to use SASS's @import features to divide you stylesheet in smaller parts
*	(see the import of _header.scss). These partials should go in the folder ... partials :).
*	Be sure to name them with an underscore in the beginning so SASS doesn't compile them
*	separately.
*/
/*	=MAIN
	------------------------------------------------------ */
body {
  /* 62.5% = 10px */
  /* Since the font now is 10px everywhere on the site, you'll have to define font-sizes on most elements. Use one of the Cs in
  "CSS" – Cascading! */
  font: normal 62.5%/28px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  background-color: #fff; }

/*	=LINKS
	------------------------------------------------------ */
a {
  -webkit-tap-highlight-color: blue;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out; }

/*	=HEADINGS
	------------------------------------------------------ */
h1 {
  font-size: 3.6em;
  margin-bottom: 28px; }

h2 {
  font-size: 2.4em; }

h3 {
  font-size: 2em; }

/*	=HEADER
	------------------------------------------------------ */
/*	=FRONTPAGE
	------------------------------------------------------ */
/* If you you another body class than 'home', define it here */
/*	=FORMS
	------------------------------------------------------ */
/* Search form */
label {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 0.9em;
  cursor: pointer;
  display: block; }

input[type="text"],
textarea {
  -webkit-font-smoothing: antialiased;
  border: 1px solid #aaa;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0 1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.7) 0 1px 1px;
  -o-box-shadow: rgba(0, 0, 0, 0.7) 0 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.7) 0 1px 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 280px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border;
  padding: 0.3em; }
  input[type="text"]:focus,
  textarea:focus {
    outline: none;
    border-color: #999;
    -webkit-box-shadow: black 0 1px 1px;
    -moz-box-shadow: black 0 1px 1px;
    -o-box-shadow: black 0 1px 1px;
    box-shadow: black 0 1px 1px; }

textarea {
  font-family: Georgia, "Times New Roman", serif;
  line-height: 28px;
  color: #000; }

/* Define error styles: */
/*	=SIDEBAR
	------------------------------------------------------ */
/* Global styles for sidebars */
/*	=FOOTER
	------------------------------------------------------ */
footer[role="contentinfo"] p small {
  font-size: 90%; }

/*- optional vanity styles ----------*/
::selection {
  background: red;
  color: #000; }

::-moz-selection {
  background: red;
  color: #000; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

/* --> partials */
/*-  STYLES FOR A RESPONSIVE DESIGN
----------------------------------------------------------------------*/
/* Feel free to add more media queries. These are the guys I usually use */
/* For iPhone 4. Remember to use 'background-size' do define the original dimensions */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {}
/* iPad */
@media only screen and (max-width: 1024px) {
  section, article, aside, .block, p, h1, h2 {
    float: none !important;
    width: 100% !important; } }

/* iPhone and other smartphones */
@media only screen and (max-width: 480px) {}
/*-  Print
----------------------------------------------------------------------*/
@media print {
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none; }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }

  a:after {
    content: " (" attr(href) ")"; }

  abbr:after {
    content: " (" attr(title) ")"; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  img {
    page-break-inside: avoid; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; } }
