/**
*	Master.css
*	
*	Built by <yourname>
*	Based on Dyluni (https://github.com/johanbrook/dyluni)
*/
/*-  CSS libraries (you shouldn't have to touch these ones)
----------------------------------------------------------------------*/
/*-  HANDY UTILS
----------------------------------------------------------------------*/
/**
*	If you feel you want to add long term stuff, like a handy mixin, add it here. Mixins, helper 
*	classes and variables in this file should for reuse only.
*
*/
.block {
  float: none !important;
  width: 100% !important; }

/*
* Non-semantic helper classes
*/
/* Clearing stuff */
.clear {
  clear: both;
  display: block;
  height: 1px;
  margin: -1px 0 0 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }
.clearfix {
  display: inline-block; }
* html .clearfix {
  height: 1%; }
.clearfix {
  display: block; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden {
  display: none; }

/* Hide only visually, but have it available for screenreaders
   www.webaim.org/techniques/css/invisiblecontent/
   Solution from: j.mp/visuallyhidden - Thanks Jonathan Neal! */
.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/**
*	The compulsory reset file. It's the HTML5 one (duh .. ) with some modifications.
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 . Modified by Johan 2011-01-03 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  position: relative; }

/* Enable absolute positioned elements inside these ones: */
div, a, p, ul, li {
  position: relative; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 28px 0 27px;
  padding: 0; }

label, a img {
  cursor: pointer; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

small {
  font-size: 85%; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #888;
  cursor: help; }

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline; }

pre {
  display: block;
  white-space: pre;
  /* CSS 2.0 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3.0 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  white-space: -moz-pre-wrap;
  /* Mozilla */
  white-space: -hp-pre-wrap;
  /* HP Printers */
  word-wrap: break-word;
  /* IE 5+ */
  line-height: 1.5em; }

sup {
  vertical-align: super;
  font-size: smaller; }

sub {
  vertical-align: sub;
  font-size: smaller; }

/*-  Main files
----------------------------------------------------------------------*/
/*-  BASE STYLES

This is the "config" file for the framework. It's seldom that you have to touch this
more than once during the building of the site (most site specific stuff should go
into "_main.scss").

Core.scss includes variables, @font-faces rules, and other nifty stuff you
just have to dump somewhere. You control most of the site's core functionality
from here. As you can see, some minor reseting is done below, as well as 
defining a mixin. Do not fear – this is stuff that doesn't go into "_reset.scss"
because you still might want to alter things in here. 

----------------------------------------------------------------------*/
@font-face {
  font-family: 'Inconsolata';
  src: url("../fonts/Inconsolata.eot#") format("embedded-opentype"), local("Inconsolata"), url("../fonts/Inconsolata.ttf") format("truetype"), url("../fonts/Inconsolata.svg#webfont") format("svg"); }

/**
*	Main grid container
*/
#grid {
  /* Dimensions - same width as your grid with gutters (980px) */
  width: 1004px;
  /* Grid (left-aligned)
  position: absolute;
  top: 0;
  left: 0;
  */
  /* Grid (centered) */
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -502px;
  z-index: 999; }

/**
 * Vertical grid lines
 *
 * Set the column width taking the borders into consideration,
 * and use margins to set column gutters.
 */
#grid div.vert {
  width: 139px;
  border: solid darkturquoise;
  border-width: 0 1px;
  margin-left: 23px; }

#grid div.vert.first-line {
  margin-left: 11px; }

/**
 * Horizontal grid lines, defined by your base line height
 *
 * Remember, the CSS properties that define the box model:
 * visible height = height + borders + margins + padding
 */
#grid div.horiz {
  /* 28px line height */
  height: 23px;
  border-bottom: 1px dotted darkgray;
  margin: 0;
  padding: 0; }

/**
* Classes for multiple grids
*
* When using more than one grid, remember to set the numberOfGrids 
* option in the hashgrid.js file.
*/
#grid.grid-1 div.vert {
  /* Vertical grid line colour for grid 1 */
  border-color: green;
  background-color: rgba(0, 128, 0, 0.2); }

#grid.grid-2 {
  border-color: #aaa; }

#grid.grid-2 div.vert {
  /* Vertical grid line colour for grid 3 */
  border-color: #bfebff;
  border-style: dotted;
  width: 23px;
  background-color: rgba(191, 235, 255, 0.5); }

/*- Fluid images and objects ----------*/
img {
  max-width: 100%;
  height: auto !important; }

/*- GLOBAL HELPER CLASSES
----------------------------------------------------------------------*/
/* For separators */
.sep {
  color: #000;
  font-size: 0.8em;
  line-height: 28px; }

/* Nicer ampersand */
.amp {
  font-family: Baskerville, Palatino, "Palatino Linotype", "Book Antiqua", serif;
  font-size: 1.4em;
  font-style: italic;
  font-weight: normal; }

/* Quick floating */
.alignleft {
  float: left; }

.alignright {
  float: right; }

/*- LINKS
----------------------------------------------------------------------*/
a {
  position: relative; }

a:active, a:focus {
  outline: none;
  top: 1px; }

/* =HEADINGS */
/*-----------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  /* Fixes kerning. Watch out for some performance issues though. */ }

/*- ELEMENTS
----------------------------------------------------------------------*/
abbr[title] {
  cursor: help; }

hr {
  border: 0;
  padding: 0;
  height: 1px;
  background-color: #e2e2e2;
  margin: 48px auto 47px;
  /* Make up for the border */ }

pre, code {
  font-family: Inconsolata, Monaco, "Courier New", Courier, monospace;
  line-height: 24px; }

pre code {
  font-size: 1.1em;
  -webkit-font-smoothing: subpixel-antialiased;
  /* Code doesn't look that good antialiased */ }

del {
  color: #999;
  border: 0; }

/**
* 	Button style
* 	Usage: include the mixin and define base color. I highly recommend you to customize these styles.
*/
.button, button, input[type=submit] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  background-color: white;
  /* Backup */
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#e6e6e6));
  background-image: -moz-linear-gradient(center top, white 0%, #e6e6e6 100%);
  background-image: -ms-linear-gradient(center top, white 0%, #e6e6e6 100%);
  background-image: -o-linear-gradient(center top, white 0%, #e6e6e6 100%);
  background-image: -webkit-linear-gradient(center top, white 0%, #e6e6e6 100%);
  background-image: linear-gradient(center top, white 0%, #e6e6e6 100%);
  font: normal 1.3em/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  padding: 0.3em 0.5em; }
  .button:active, button:active, input[type=submit]:active {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
    top: auto;
    outline: none !important;
    -webkit-box-shadow: inset rgba(0, 0, 0, 0.5) 0 3px 5px;
    -moz-box-shadow: inset rgba(0, 0, 0, 0.5) 0 3px 5px;
    -o-box-shadow: inset rgba(0, 0, 0, 0.5) 0 3px 5px;
    box-shadow: inset rgba(0, 0, 0, 0.5) 0 3px 5px; }

/**
*	MAIN STYLESHEET
*
*	This is the site specific file, in which almost ALL styles regarding the design should go.
*	I encourage you to use SASS's @import features to divide you stylesheet in smaller parts
*	(see the import of _header.scss). These partials should go in the folder ... partials :).
*	Be sure to name them with an underscore in the beginning so SASS doesn't compile them
*	separately.
*/
/*	=MAIN
	------------------------------------------------------ */
body {
  /* 62.5% = 10px */
  /* Since the font now is 10px everywhere on the site, you'll have to define font-sizes on most elements. Use one of the Cs in
  "CSS" – Cascading! */
  font: normal 62.5%/28px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  background-color: #fff;
  width: 980px;
  margin: 0 auto; }

/*	=LINKS
	------------------------------------------------------ */
a {
  -webkit-tap-highlight-color: yellow; }

/*	=HEADINGS
	------------------------------------------------------ */
h1 {
  font-size: 4em;
  margin-bottom: 24px;
  line-height: 48px; }

h2 {
  font-size: 2.4em; }

h3 {
  font-size: 2em; }

/*	=MISC
	------------------------------------------------------ */
::selection {
  background: yellow;
  color: #000;
  text-shadow: none; }

::-moz-selection {
  background: yellow;
  color: #000;
  text-shadow: none; }

img::selection, img::-moz-selection {
  background: transparent; }

/*	=HEADER
	------------------------------------------------------ */
/*	=PAGES
	------------------------------------------------------ */
/* Global styles for pages goes here */
/*	=FRONTPAGE
	------------------------------------------------------ */
/* Sample page. Create new SCSS files for each new view in your site/app. */
/*	=FORMS
	------------------------------------------------------ */
/* Search form */
label {
  cursor: pointer; }

textarea {
  line-height: 24px;
  resize: vertical;
  -moz-resize: vertical; }

/* Define error styles: */
/*	=SIDEBAR
	------------------------------------------------------ */
/* Global styles for sidebars */
/*	=FOOTER
	------------------------------------------------------ */
footer[role="contentinfo"] {
  clear: both; }
  footer[role="contentinfo"] p small {
    font-size: 90%; }

/*-  STYLES FOR A RESPONSIVE DESIGN
----------------------------------------------------------------------*/
/* Feel free to add more media queries. These are the guys I usually use */
/* For iPhone 4. Remember to use 'background-size' do define the original dimensions */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-pixel-ratio: 2) {}
/* Target iPad sized tablets and smaller desktop screens. */
@media only screen and (max-width: 1036px) and (min-width: 768px) {
  body {
    width: 632px; } }

/* iPhone and other smartphones */
@media only screen and (max-width: 767px) {
  body {
    width: 304px;
    -webkit-text-size-adjust: 100%; }

  .hide-mobile {
    display: none; }

  pre {
    white-space: normal; } }

/* Larger smartphones, iPhone landscape view, or other small web views. 
	
	Please note that these styles will be inherited down to the iPhone/smartphone media query (there's no min-width property you see). That
	is because these two media queries tend to be very much alike, and it's tedious to have to write the same styles twice.
*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
  body {
    width: 468px;
    -webkit-text-size-adjust: 100%; }

  img {
    max-width: 100%; } }

/*-  Print
----------------------------------------------------------------------*/
@media print {
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none; }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }

  a:after {
    content: " (" attr(href) ")"; }

  abbr:after {
    content: " (" attr(title) ")"; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  img {
    page-break-inside: avoid; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; } }
