/**
*	MAIN STYLESHEET
*
*	This is the site specific file, in which almost ALL styles regarding the design should go.
*	I encourage you to use SASS's @import features to divide you stylesheet in smaller parts
*	(see the import of _header.scss). These partials should go in the folder ... partials :).
*	Be sure to name them with an underscore in the beginning so SASS doesn't compile them
*	separately.
*/


/*	=MAIN
	------------------------------------------------------ */
	
html{
	background-color: #fff;
}	
	
	
/* Please use the body element as main site wrapper. Nothing wrong with that. */	
	
body{	
	width: 80%; 										/* If you want your design to span over the full screen, remove this row */
	max-width: 98em; 									/* Sets the max-width of the wrapper. Currently $fontsize*98 = 1274px */
	
	font: normal #{$fontsize}/#{$lineheight} $sans;

	margin: 0 auto;
}

/*	=LINKS
	------------------------------------------------------ */
a{
	-webkit-tap-highlight-color: $highlight;
}

a:hover, a:focus{
	
}



/*	=HEADINGS
	------------------------------------------------------ */	
	
h1{
	font-size: 4em;
	margin-bottom: $lineheight;
	line-height: $lineheight*2;
}

h2{
	font-size: 2.4em;
}

h3{
	font-size: 2em;
}


/*	=MISC
	------------------------------------------------------ */

::selection{
	background: $highlight; 
	color: #000; 
	text-shadow: none;
}
::-moz-selection {
	background: $highlight; 
	color: #000; 
	text-shadow: none;
}

img::selection, img::-moz-selection{
	background: transparent;
}



/*	=HEADER
	------------------------------------------------------ */
@import "partials/header";


/*	=PAGES
	------------------------------------------------------ */
	
/* Global styles for pages goes here */	
	
@import "pages/pages";


/*	=FORMS
	------------------------------------------------------ */
	
@import "partials/forms";


/*	=SIDEBAR
	------------------------------------------------------ */

@import "partials/sidebar";

/*	=FOOTER
	------------------------------------------------------ */
@import "partials/footer";
