/**
*	MAIN STYLESHEET
*
*	This is the site specific file, in which almost ALL styles regarding the design should go.
*	I encourage you to use SASS's @import features to divide you stylesheet in smaller parts
*	(see the import of _header.scss). These partials should go in the folder ... partials :).
*	Be sure to name them with an underscore in the beginning so SASS doesn't compile them
*	separately.
*/

	
/* Modular Scale ---------------------- 

	$fontsize @ 1:1.618	  
	http://modularscale.com/scale/?px1=13&px2=&ra1=1.618&ra2=0

----------------------*/


/*	=MAIN
	------------------------------------------------------ */
	
html{
	background-color: #fff;
}	
	
	
/* Please use the body element as main site wrapper. Nothing wrong with that. */	
	
body{	
	font: normal #{$fontsize}/#{$lineheight} $sans;
	margin: 0 5%;
}



[role="main"]{
	width: 60.8%;
	float: left;
	margin-right: 1%;
}




/*	=LINKS
	------------------------------------------------------ */
a{
	-webkit-tap-highlight-color: $highlight;
}

a:hover, a:focus{
	
}



/*	=HEADINGS
	------------------------------------------------------ */	
	
	
h1{
	font-size: $fontsize*1.618*1.618;
	margin-bottom: $lineheight;
	line-height: $lineheight*2;
}

h2{
	font-size: $fontsize*1.618;
}

h3{
	
}


/*	=MISC
	------------------------------------------------------ */

::selection{
	background: $highlight; 
	color: #000; 
	text-shadow: none;
}
::-moz-selection {
	background: $highlight; 
	color: #000; 
	text-shadow: none;
}

img::selection, img::-moz-selection{
	background: transparent;
}



/*	=HEADER
	------------------------------------------------------ */
@import "partials/header";


/*	=PAGES
	------------------------------------------------------ */
	
/* Global styles for pages goes here */	
	
@import "pages/pages";


/*	=FORMS
	------------------------------------------------------ */
	
@import "partials/forms";


/*	=SIDEBAR
	------------------------------------------------------ */

@import "partials/sidebar";

/*	=FOOTER
	------------------------------------------------------ */
@import "partials/footer";
