/**
*	MAIN STYLESHEET
*
*	This is the site specific file, in which almost ALL styles regarding the design should go.
*	I encourage you to use SASS's @import features to divide you stylesheet in smaller parts
*	(see the import of _header.scss). These partials should go in the folder ... partials :).
*	Be sure to name them with an underscore in the beginning so SASS doesn't compile them
*	separately.
*/


/*	=MAIN
	------------------------------------------------------ */
body{
	/* 62.5% = 10px */
	/* Since the font now is 10px everywhere on the site, you'll have to define font-sizes on most elements. Use one of the Cs in
	"CSS" – Cascading! */
	
	font: normal 62.5%/28px $sans;
	color: #000;
	background-color: #fff;
}

/*	=LINKS
	------------------------------------------------------ */
a{
	-webkit-tap-highlight-color: $highlight;
	@include transition(color 0.2s ease-out);
}

a:hover, a:focus{
	
}

/*	=HEADINGS
	------------------------------------------------------ */	
	
h1{
	font-size: 3.6em;
	margin-bottom: $lineheight;
}

h2{
	font-size: 2.4em;
}

h3{
	font-size: 2em;
}

/*	=HEADER
	------------------------------------------------------ */
@import "partials/header";


/*	=FRONTPAGE
	------------------------------------------------------ */
@import "partials/frontpage";


/*	=FORMS
	------------------------------------------------------ */
	
@import "partials/forms";

/*	=SIDEBAR
	------------------------------------------------------ */

@import "partials/sidebar";

/*	=FOOTER
	------------------------------------------------------ */
@import "partials/footer";


/*- optional vanity styles ----------*/

::selection {background: $accent; color: #000;}
::-moz-selection {background: $accent; color: #000;}

img::selection {background: transparent;}
img::-moz-selection {background: transparent;}