/*-  STYLES FOR A RESPONSIVE DESIGN
----------------------------------------------------------------------*/

/* 
	Feel free to add more media queries. These are the guys I usually use: 
	
	* 979px (980px - 1px) 	: One pixel less than the main wrapper container's width.
	* 767px					: Mobile styles. Will be inherited all the way down.
	* 479px					: Used for narrow smartphone screens (like the iPhone in portrait view)
	
	
	I highly encourage you to finetune all measures and widths to your own and your project's needs!
	
	Also, try using the 'debugmessage' mixin for showing exactly when a media query fires:
	
		@include debugmessage('767px media query fired');

*/


/* For iPhone 4. Remember to use 'background-size' do define the original dimensions */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-pixel-ratio: 2){
	
}


body{
	@include transition(width .5s ease-out);
}

/* Tablet layout. Fires when the browser window is smaller than the main body width: */

@media only screen and (min-width: 768px) and (max-width: 979px){
	
	body{
		
		@if($DEBUG == true){
			background-color: red;
			@include debugmessage("979px (tablet) media query fired");
		}
	}
	
	img{
		max-width: 100%;
	}
	
}



/* Mobile. All styles are inherited down all the way. */

@media only screen and (max-width: 767px) {
	body{
		@if($DEBUG == true){
			background: green;
			@include debugmessage("767px (Mobile) media query fired");
		}
		-webkit-text-size-adjust: 100%;
	}
	
	.hide-mobile{
		display: none;
	}
	
	pre{
		white-space: normal;
	}
	
}


/* Only for small screen phones, like the iPhone in portrait mode */

@media only screen and (max-width: 479px) {
	body{
		@if($DEBUG == true){
			background: teal;
			@include debugmessage("479px media query fired");
		}
	}
}