/**
*	The master file of doom
*/



/*-  CSS libraries (you shouldn't have to touch these ones)
----------------------------------------------------------------------*/
@import "library/utils";	// Handy stuff
@import "library/reset";	// Modified HTML5 reset

/*-  Main files
----------------------------------------------------------------------*/
@import "core";				// Core styles
@import "main"; 			// The main, site specific .scss file
@import "responsive";		// Responsive styles (for iPhone, Android, iPad etc.)

/*-  Print
----------------------------------------------------------------------*/
@import "print";			// Print styles