/**
*	Main grid container
*/


#grid{

    /* Dimensions - same width as your grid with gutters (980px) */
    width: $page_width + $square;

    /* Grid (left-aligned)
    position: absolute;
    top: 0;
    left: 0;
    */

    /* Grid (centered) */
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -$page_width / 2 - ($square / 2);
	z-index: 999;

}

/**
 * Vertical grid lines
 *
 * Set the column width taking the borders into consideration,
 * and use margins to set column gutters.
 */
#grid div.vert{

    width: $column - 1px;
    border: solid darkturquoise;
    border-width: 0 1px;
    margin-left: $square - 1px;

}

#grid div.vert.first-line{

    margin-left: $square / 2 - 1px;

}


/**
 * Horizontal grid lines, defined by your base line height
 *
 * Remember, the CSS properties that define the box model:
 * visible height = height + borders + margins + padding
 */
#grid div.horiz{

    /* 28px line height */
    height: $lineheight - 1px;
    border-bottom: 1px dotted darkgray;
    margin: 0;
    padding: 0;

}

/**
* Classes for multiple grids
*
* When using more than one grid, remember to set the numberOfGrids 
* option in the hashgrid.js file.
*/
#grid.grid-1 div.vert{

    /* Vertical grid line colour for grid 1 */
    border-color: green;
	background-color: transparentize(green, 0.8);

}
#grid.grid-2{
    border-color: #aaa;
}
#grid.grid-2 div.vert{

    /* Vertical grid line colour for grid 3 */
    border-color: #bfebff;
	border-style: dotted;
	width: $square - 1px;
	background-color: transparentize(#bfebff, 0.5);
}
