/* Search form */

input[type="search"]{
	
}



label{
	font-family: $sans;
	font-weight: bold;
	font-size: 1em;
	cursor: pointer;
	display: block;
}

input[type="text"],
input[type="email"],
input[type="url"],
input.text,
textarea{
	// Uncomment if you want Safari to apply native OS controls
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
	border: 1px solid #aaa;
	@include border-radius(3px);
	
	&:focus{
		outline: none;
		border-color: #999;
	}
	
	&::-webkit-input-placeholder{
		font-family: $sans;
		font-size: 0.9em;
	}
	
	&:-moz-placeholder{
		font-family: $sans;
		font-size: 0.9em;
	}
}

textarea{
	line-height: $lineheight;
	color: #000;
	resize: vertical;
	-moz-resize: vertical;
}


/* Define error styles: */




